# Ignore everything
/*

# Whitelist essential public files
!README.md
!SHOWCASE.md
!assets/
!.gitignore

# Standard Ignore Patterns
__pycache__/
*.py[cod]
venv/
.pytest_cache/
*.log
.DS_Store
Thumbs.db
